/*
By Herreman David
http://www.free-css-templates.com
StyleSheet for BinaryNews Template
*/

body {
 background-color: #FFF;
 color: #FFF; font: 0.8em Arial, sans-serif; line-height: 1.5em;
}

a { color: #46574D; background: inherit; }
a:hover { color: #647B6D; background: inherit;}

h1 { font: bold 2em Arial, Sans-Serif;}
h2 { font: normal 1.6em Arial, Sans-Serif; }
h3 { font: 90% Arial, Sans-Serif;  color: #46574D; background: #FFF; }
p {	line-height: 1.5em; }


#more {display: none;}


.content { 
    background: #FFF; 
	padding: 10%;
	color: #000;
}

.header {
	background: #FFF;
	color: #000;
}

.header .title {
	color: #000;
	font: bold 1.8em Arial, sans-serif;
}

#nav {
	background: #000;
	background-color: #FFF;
}

#nav ul {padding: 0 0 5% 0; list-style-type: none;}
#nav a, #nav strong, #nav span { display:block; text-decoration:none; font-weight: bold; }
#nav li { float:left; padding: 0 3% 0 0; color: #FFF; background: #eeeeee; }
#nav #current { background: #cecece; color: #555; }
#nav #current a { background: #cecece; color:#FFF; }
#nav a:hover { color:#555; background: #aeaeae; }
/*#nav .padding { padding:5px 10px 5px 10px; font-weight: bold; }*/


.main_content {
	background: #FFF;
	background-color: #FFF;
}


.fa {
  padding: 2%;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb6;
  color: white;
}

.fa-github {
  background: grey;
  color: white;
}
